<%= simple_form_for @holding, :html => { :class => 'form-horizontal' }, :validate => true do |f| %>
  <div class="control-group">
    <%= f.input :symbol, :input_html => {:class => 'test_field'}, :label => "Symbol", :required => false %>
  </div>
  <div class="control-group">
    <%= f.input :price, :input_html => {:class => 'test_field'}, :label => "Price", :required => false %>
  </div>
  <div class="control-group">
    <%= f.input :qty, :input_html => {:class => 'test_field'}, :label => "Qty", :required => false %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                holdings_path, :class => 'btn' %>
  </div>
<% end %>
